
body {
    text-align: center;
    padding-top: 50px;
    font-family: palatino;
}
.drugee{
    border-radius: 10px;
    width: 200px;
    border: 1px solid;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
}

.drugee p.count {
    margin-top: 0px;
    margin-bottom: 0px;
}

.drugee h2 {
  background-color: #B4D69A;
  border-bottom: 1px solid #000000;
  border-top-right-radius: 9px;
  color: #000000;
  float: right;
  font-size: 16px;
  height: 40px;
  margin: 0;
  padding: 20px 0;
  width: 119px;
}

.drugee img {
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-top-left-radius: 9px;
  width: 80px;
}
.drugee .motivator, .drugee .quantifier {
    font-size: 0.6em;
}

.drugee .days, .drugee .hours, .drugee .seconds {
    font-size: 1.5em;
    font-weight: bold;
}

.drugee hr {
    width: 90%;
}